@model IEnumerable<NoteFormViewModel>

<table class="table table-no-header">
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td class="text-muted pb-0 pt-1">
                    @Html.DisplayFor(m => note.DateAdded)
                </td>
                <td class="text-right pb-0 pt-1">
                    @Ajax.RouteLink(" ", routeName: NotesControllerRoute.EditNote, routeValues: new
                    {
                        projectId = note.ProjectID,
                        id = note.ID
                    }, ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "note-form-modal-location",
                        OnSuccess = "ModalDialogHelper.showModalDialog",
                        OnFailure = "ErrorHandler.handleAjaxError"
                    }, htmlAttributes: new
                    {
                        @class = "btn-img btn-edit-img",
                        data_modal_target = "#note-form-modal"
                    })

                    @Ajax.RoleBasedRouteLink(" ", routeName: NotesControllerRoute.ConfirmDeleteNote, routeValues: new
                    {
                        projectId = note.ProjectID,
                        id = note.ID
                    }, ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "confirm-delete-dialog-location",
                        OnSuccess = "ModalDialogHelper.showModalDialog",
                        OnFailure = "ErrorHandler.handleAjaxError"
                    }, htmlAttributes: new
                    {
                        @class = "btn-img btn-delete-img",
                        data_modal_target = "#confirm-delete-dialog-modal"
                    })
                </td>
            </tr>
            <tr>
                <td class="border-top-0 word-break pb-1 pt-0" colspan="2">
                    <p class="text-block-ellipsis">
                        @Html.DisplayFor(m => note.NoteText)
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>

