@{
    ViewBag.Title = "Home";
}

<div class="row py-4">
    <div class="offset-md-4">
        <img src="~/Content/Images/aab-logo.png" />
    </div>
</div>

<div class="row py-3">
    <span class="col-md-1 offset-md-4 col-form-label px-0">NEW FORM</span>
    <div class="col-md-3">
        <p>@Html.ActionLink("Create", "Create", "Projects", null, new { @class = "btn btn-primary btn-block" })</p>
    </div>
</div>

<div class="row py-3">
    <span class="col-md-1 offset-md-4 col-form-label px-0">FIND FORM</span>
    <div class="col-md-4">
        <input class="form-control full-width" id="project-search" type="text" placeholder="NAME / CMC ID" autocomplete="off">
    </div>
</div>

<div class="row py-4">
    <div class="col-md-2 offset-md-5">
        <h6>REPORTS</h6>
        <p>@Html.ActionLink("Boarding", "ViewReport", "Reports", new { name = "BoardingReport" }, null)</p>
        <p><a href="#">Completed & Hold</a></p>
        <p><a href="#">Software Transition</a></p>
        <p><a href="#">CMC by ID</a></p>
        <p><a href="#">CMC by Name</a></p>
        <p><a href="#">CD Emails</a></p>
        <p><a href="#">Coupon</a></p>
    </div>
    <div class="col-md-2">
        <h6>EXPORTS</h6>
        <p><a href="#">CMC List</a></p>
        <p><a href="#">CMC Useful Info List</a></p>
        <p><a href="#">All info</a></p>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#project-search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/api/projects",
                        method: "GET",
                        dataType: "json",
                        data: {
                            search: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    this.value = ui.item.label;
                    location.href = "/Projects/Edit/" + ui.item.value;
                    return false;
                }
            });
        });
    </script>
}