@model IEnumerable<ScannerFormViewModel>

<div class="border mt-2 p-2" style="height: 138px; overflow-y: scroll;">
    <table class="table table-sm mb-0">
        <thead>
            <tr>
                <th class="font-weight-normal border-0" scope="col">Model</th>
                <th class="font-weight-normal border-0" scope="col">Date Installed</th>
                <th class="font-weight-normal border-0" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scanner in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => scanner.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(m => scanner.DateInstalled)
                    </td>
                    <td class="text-center">
                        @Ajax.RouteLink(" ", routeName: CheckScannersControllerRoute.EditScanner, routeValues: new
                        {
                            projectId = scanner.ProjectID,
                            id = scanner.ID
                        }, ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "scanner-form-location",
                            OnSuccess = "showModalTarget",
                            OnFailure = "handleAjaxError"
                        }, htmlAttributes: new
                        {
                            @class = "btn-img btn-edit-img",
                            data_modal_target = "#scanner-form-modal"
                        })
                        
                        @Ajax.RoleBasedRouteLink(" ", routeName: CheckScannersControllerRoute.ConfirmDelete, routeValues: new
                        {
                            projectId = scanner.ProjectID,
                            id = scanner.ID
                        }, ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "confirm-delete-dialog-location",
                            OnSuccess = "showModalTarget",
                            OnFailure = "handleAjaxError"
                        }, htmlAttributes: new
                        {
                            @class = "btn-img btn-delete-img",
                            data_modal_target = "#confirm-delete-dialog-modal"
                        })

                        @*@Ajax.RoleBasedRouteLink(" ", routeName: CheckScannersControllerRoute.DeleteScanner, routeValues: new
                        {
                            projectId = scanner.ProjectID,
                            id = scanner.ID
                        }, ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "DELETE",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "check-scanners-list",
                            Confirm = "OK to delete this check scanner?",
                            OnFailure = "handleAjaxError"
                        }, cssClass: "btn-img btn-delete-img")*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>