<nav class="navbar p-0">

    <button class="btn-img p-2" id="nav-side-menu-toggle" type="button" data-toggle="slide-collapse-right" data-target="#nav-side-menu" aria-controls="nav-side-menu" aria-expanded="false" aria-label="Side Menu">
        <img class="icon-image" src="~/Content/Images/toggle-img.png" />
    </button>

    <div class="collapse navbar-collapse popup-control" id="nav-side-menu">
        
        <div>
            @Html.ActionLink("Create New Form", "Create", "Projects", null, new { @class = "btn btn-primary btn-sm" })
        </div>

        <span class="text-muted">Reports</span>
        <div class="nav-item px-3 py-1 border">
            @Html.ActionLink("Boarding", "ViewReport", "Reports", new { name = "BoardingReport" }, null)
        </div>
        <div class="nav-item px-3 py-1 border">
            <a href="#">Completed & Hold</a>
        </div>
        <div class="nav-item px-3 py-1 border">
            <a href="#">Software Transition</a>
        </div>
        <div class="nav-item px-3 py-1 border">
            <a href="#">CMC by ID</a>
        </div>
        <div class="nav-item px-3 py-1 border">
            <a href="#">CMC by Name</a>
        </div>
        <div class="nav-item px-3 py-1 border">
            <a href="#">CD Emails</a>
        </div>
        <div class="nav-item px-3 py-1 border">
            <a href="#">Coupon</a>
        </div>

        <span class="text-muted">Exports</span>
        <div class="nav-item px-3 py-1 border">
            <a href="#">CMC List</a>
        </div>
        <div class="nav-item px-3 py-1 border">
            <a href="#">CMC Useful Info</a>
        </div>
        <div class="nav-item px-3 py-1 border">
            <a href="#">All Info</a>
        </div>
        <div class="nav-item px-3 py-1">
            <a href="#">Log Out</a>
        </div>

    </div>

</nav>
