@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-nav">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-item nav-link", title = "Manage" })
            <a class="nav-item nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    }
}
else
{
    <div class="navbar-nav">
        @Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { @class = "nav-item nav-link", id = "loginLink" })
    </div>
}
