<nav class="navbar p-2">
    <button class="btn-img" id="search-box-toggle" type="button" 
            data-toggle="slide-collapse-down" 
            data-target="#search-widget" 
            aria-controls="search-widget" 
            aria-expanded="false" 
            aria-label="Search"
            title="Click to search for records">
        <img src="~/Content/Images/search-img.png" />
    </button>
    <div class="popup-control" id="search-widget">
        <input class="form-control full-width" id="project-search" type="text" placeholder="Name / TIN / PMC ID / Phone" autocomplete="off">
    </div>
</nav>
