@model ErrorViewModel

@{
    ViewBag.Title = "Error";
}
<div class="p-3">
    <h1 class="text-danger">Oops!</h1>
    <h2 class="text-danger">An error occurred while processing your request. Please try again later.</h2>

    <div class="my-auto">
        <a href="@(Model.PreviousPageUrl ?? "/")">< Return to Previous Page</a>
    </div>
    <div class="my-auto">
        @Html.ActionLink("< Return to Home", HomeControllerAction.Index, ControllerName.Home)
    </div>

</div>

