@model ErrorViewModel

@{
    ViewBag.Title = Model.ErrorTitle;
}
<div class="row" style="padding-top: 17%;">
    <div class="col-12 text-center">
        <div class="alert">
            <h1 class="text-danger">@Model.ErrorTitle!</h1>
            <h2 class="text-danger">@Model.ErrorMessage</h2>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-3 offset-3">
        <a class="btn btn-light btn-block" href="@Model.PreviousPageUrl">Return to Previous Page</a>
    </div>
    <div class="col-3">
        @Html.ActionLink("Go to Home", HomeControllerAction.Index, ControllerName.Home, routeValues: null, htmlAttributes: new
        {
            @class = "btn btn-light btn-block"
        })
    </div>
</div>

