@model IEnumerable<ReformatViewModel>

<div class="row p-1">
    <div class="col-12 text-right">
        @Ajax.RouteLink("Add New", routeName: ReformatsControllerRoute.CreateReformat, routeValues: null, ajaxOptions: new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "manage-values-form-modal-container",
            OnSuccess = "ModalDialogHelper.showModalDialog",
            OnFailure = "ErrorHandler.handleAjaxError"
        }, htmlAttributes: new
        {
            @class = "btn btn-add-img",
            data_modal_target = "#reformat-form-modal",
            title = "Add new value"
        })
    </div>
</div>

<div class="row admin-manage-values-list">
    <div class="col-12">
        <table class="table table-sm table-hover">
            <thead class="table-borderless bg-light">
                <tr>
                    <th></th>
                    <th class="font-weight-light text-uppercase">Reformat Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <td></td>
                        <td>
                            @Html.DisplayFor(m => record.ReformatName)
                        </td>
                        <td>
                            @Ajax.RouteLink(" ", routeName: ReformatsControllerRoute.ConfirmDeleteReformat, routeValues: new
                            {
                                id = record.ID
                            }, ajaxOptions: new AjaxOptions
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "confirm-delete-dialog-location",
                                OnSuccess = "ModalDialogHelper.showModalDialog",
                                OnFailure = "ErrorHandler.handleAjaxError"
                            }, htmlAttributes: new
                            {
                                @class = "btn-img btn-delete-img",
                                data_modal_target = "#confirm-delete-dialog-modal",
                                title = "Delete this value"
                            })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>