label.required::after {
    content: "*";
    color: rgba(220,53,69,1);
}

.alert-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1099;
}

.body-content {
    border: 1px solid #ced4da;
    border-top: none;
    max-width: 1280px;
    min-height: 715px;
    width: 1280px;
}

.dl-horizontal dt {
    white-space: normal;
}

.btn-add-img {
    background-image: url('Images/btn-add-icon.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    color: #212529;
    margin-left: -30px;
    padding-right: 30px;
}

.btn-add-img:hover {
    background-color: #f8f9fa;
    border-color: #dae0e5;
    color: #212529;
}

.btn-edit-img {
    background-image: url('Images/btn-edit-icon.png');
    height: 20px;
    margin: 5px;
    width: 20px;
}

.btn-delete-img {
    background-image: url('Images/btn-delete-icon.png');
    height: 20px;
    margin: 5px 5px 6px 5px;
    width: 20px;
}

.btn-img {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.btn-img:focus {
    outline: none;
}

.btn-save-img {
    background-image: url('Images/btn-save-icon.png');
    height: 25px;
    margin: 0 5px;
    vertical-align: middle;
    width: 25px;
}

.check-grid-label {
    padding-left: 0;
}

.check-indented {
    padding-left: 25px;
}

.check-label {
    padding-left: 10px;
}

.display-field {
    border-bottom: 1px solid #dee2e6;
}

.error-page-message {
    padding-top: 18%;
}

.field-group {
    margin-bottom: 3px;
}

.form-val-error-tooltip {
    background-color: rgba(220,53,69,.8);
    border-radius: 4px;
    color: #fff;
    display: none;
    font-size: 12px;
    line-height: 1;
    margin-top: 2px;
    max-width: 100%;
    padding: 6px;
    position: absolute;
    z-index: 1052;
}

.input-validation-error:focus + .form-val-error-tooltip,
.input-validation-error:hover + .form-val-error-tooltip,
.input-validation-error + .select2:hover + .form-val-error-tooltip {
    display: block;
}

.form-fieldset {
    margin-bottom: 18px;
}

.form-fieldset-md {
    margin-bottom: 29px;
}

.form-fieldset-lg {
    margin-bottom: 40px;
}

.form-fieldset-xl {
    margin-bottom: 61px;
}

.form-input {
    border: 1px solid #ced4da;
    color: #495057;
    font-size: 15px;
    height: 25px;
    max-width: none;
    width: 100%;
    padding-right: 4px;
    padding-left: 4px;
}

.form-input:focus, .form-textarea:focus {
    background-color: #fff;
    border-color: #98c2f2;
    box-shadow: 0 0 0 0.1rem rgba(39,128,227,0.25);
    color: #495057;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(39,128,227,0.25);
}

.form-input-prepend {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: -21px;
    display: inline-block;
    width: 16px;
}

.form-label-heading {
    color: #999999;
    padding-right: 10px;
}

.form-label {
    padding-right: 5px;
}

.indented, .label-indented, .form-label-indent {
    padding-left: 25px;
    padding-right: 5px;
}

.label-small-note {
    color: #FF0039;
    font-style: italic;
    font-size: 80%;
    font-weight: 400;
}

.list-widget {
    border: 1px solid #dee2e6;
    overflow-y: scroll;
    margin-top: 5px;
    padding: 0px 8px 0px 8px;
}

.form-textarea {
    border-color: #ced4da;
    border-style: solid;
    border-width: 1px;
    color: #495057;
    font-size: 15px;
    max-width: none;
    width: 100%;
    padding-right: 3px;
    padding-left: 3px;
}

.icon-image {
    height: 25px;
    width: 25px;
}

.input-validation-error {
    border-color: #FF0039;
}

.input-validation-error:focus {
    border-color: #FF0039;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(255, 0, 57, 0.25);
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 57, 0.25);
}

.popup-control {
    background-color: #ffffff;
    display: none;
    z-index: 99;
}

.report-viewer {
    border: none;
    margin-bottom: -5px;
    margin-left: -15px;
    margin-right: -15px;
    min-height: 714px;
    padding-bottom: 0;
    width: 1278px !important;
    /*min-width: 1260px;*/
    /*padding-bottom: 15px;*/
}

.save-indicator {
    border-color: #ced4da;
    border-style: solid;
    border-width: 1px;
    height: 27px;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    white-space: nowrap;
    width: 92px;
}

.plain-link {
    color: #373a3c;
}

.plain-link:hover {
    color: inherit;
    text-decoration: none;
}

.project-form-content {
    height: 680px;
}

.project-form-footer {
    height: 30px;
    margin-bottom: 5px;
}

.row-check-grid {
    border-bottom: 1px solid #dee2e6;
    padding-top: 4px;
}

.row-check-grid-bottom {
    padding-top: 4px;
}

.row-check-grid-top {
    border-bottom: 1px solid #dee2e6;
}

.screen-overlay {
    background-color: #ffffff;
    bottom: 0;
    display: none;
    filter: alpha(opacity=85);
    left: 0;
    opacity: 0.85;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 98;
}

.small-muted-text {
    color: #868e96;
    display: block;
    font-size: 10px;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sort-icon {
    border: none;
    padding: 3px;
    margin-bottom: 1px;
}

.tab-body-content {
    padding: 5px 20px;
}

.table-fixed {
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;
}

.table-fixed td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-no-header {
    margin-bottom: 0;
    padding: 4px;
}

.table-no-header tr:first-child td {
    border-top: none;
}

.table-row-5 {
    width: 5%;
}

.table-row-10 {
    width: 10%;
}

.table-row-15 {
    width: 15%;
}

.table-row-20 {
    width: 20%;
}

.table-row-25 {
    width: 25%;
}

.table-row-30 {
    width: 30%;
}

.table-row-35 {
    width: 35%;
}

.table-row-40 {
    width: 40%;
}

.table-row-70 {
    width: 70%;
}

.textarea-size-xsm {
    height: 75px;
    width: 380px;
}

.textarea-size-sm {
    height: 128px;
    width: 380px;
}

.textarea-size-md {
    height: 200px;
    width: 380px;
}

.textarea-size-lg {
    height: 490px;
    width: 380px;
}

.top-nav-content {
    background-color: rgba(153, 153, 153, 1);
    height: 15px;
    max-width: 1280px;
    width: 1280px;
    line-height: 11px;
}

.top-nav-item {
    color: #E4E4E4;
    display: inline-block;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
}

a.top-nav-item:hover {
    color: #E4E4E4;
    text-decoration: underline;
}

.ui-autocomplete-loading {
    background: url('Images/search-loader.gif') no-repeat right center;
}

.width-80 {
    width: 80%;
}

.word-break {
    word-break: break-all;
}

#check-scanners-list {
    height: 135px;
}

#nav-side-menu {
    left: 0px;
    padding: 15px;
    position: absolute;
    top: 45px;
    width: 220px;
}

#legal-content {
    position: absolute;
    top: 685px;
    width: 1250px;
}

#notes-list {
    height: 205px;
}

#project-users-list-content {
    height: 400px;
}

#search-widget {
    border: 1px solid #ced4da;
    left: -395px;
    padding: 7px 5px 7px 5px;
    position: absolute;
    top: 0px;
    width: 400px;
}

#search-results-content {
    height: 575px;
    margin-top: 10px;
}

/* Disabled elements */

a.btn-link-disabled {
    pointer-events: none !important;
    opacity: 0.30;
    cursor: default;
}

input.read-only {
    pointer-events: none !important;
    background: #eee;
    display: block;
}

.btn:disabled, .btn-img:disabled {
    opacity: 0.30;
    cursor: default;
}

input:disabled {
    background: #eee; /* rgba(233, 236, 239, 0.5);*/
    opacity: 1;
}

input[readonly] {
    pointer-events: none !important;
    background: #eee;
}

input[readonly]:focus {
    background: #eee;
}

select:disabled {
    background: #eee;
    opacity: 1;
}

textarea:disabled {
    background: #eee;
    opacity: 1;
}

/* Bootstrap overrides */

.page-item.active .page-link:hover {
    color: #fff;
}

.input-group-prepend-sm {
    height: 25px;
}

.input-group-text {
    padding: 0.375rem 0.5rem;
}

.modal-backdrop {
    background-color: #ffffff;
}

.modal-backdrop.show {
    filter: alpha(opacity=85);
    opacity: 0.85;
}

.modal-md {
    max-width: 765px;
    width: 100%;
}

.modal-lg {
    max-width: 1020px;
    width: 100%;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    background-color: #2780E3;
    color: #ffffff;
    border-color: #e9ecef;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 7px;
    padding-bottom: 7px
}

.nav-tabs .nav-link.active {
    border-color: #dee2e6
}

.nav-tabs .nav-link.active:hover {
    background-color: #ffffff;
}

.nav-tabs .nav-link:hover {
    background-color: #1a6dca;
}

/* Select2 overrides */

.select2 {
    width: 100% !important;
}

.select2-dropdown {
    border: 1px solid #ced4da;
    border-radius: 0px;
}

.select2-results__option {
    padding: 3px 6px;
}

.select2-search__field {
    height: 25px;
}

.select2-search__field:focus {
    border-color: #98c2f2 !important;
    box-shadow: 0 0 0 0.1rem rgba(39,128,227,0.25);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(39,128,227,0.25);
}

.select2-selection__rendered {
    line-height: 24px !important;
}

.select2-selection--single {
    border: 1px solid #ced4da !important;
    border-radius: 0px !important;
    height: 25px !important;
}

.select2-selection--single:focus {
    border-color: #98c2f2 !important;
    box-shadow: 0 0 0 0.1rem rgba(39,128,227,0.25);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(39,128,227,0.25);
}

select.input-validation-error + .select2 > .selection > .select2-selection--single {
    border-color: #FF0039 !important;
}

select.input-validation-error + .select2 > .selection > .select2-selection--single:focus {
    border-color: #FF0039;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(255, 0, 57, 0.25);
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 57, 0.25);
}

select.select2-hidden {
    visibility: hidden;
}