body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-top: 20px;*/
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1200px) {
    .container {
        width: 1280px;
    }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full-width {
    max-width: none;
}

.col-form-label-sm {
    padding-right: 5px;
}

.smallnavbar {
    padding: 0px;
    background-color: rgba(153, 153, 153, 1);
}

.smallnavbar .nav-link {
    padding: 0px;
    padding-bottom: 2px;
    color: #E4E4E4;
}

#my-navbar-collapse {
    position: absolute;
    margin-top: 60px;
    padding-left: 15px;
    left: 0px;
    top: 0px;
    width: 150px;
    /*height: 400px;*/
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 0px;
    /*background: inherit;*/
    background-color: rgba(255, 255, 255, 1);
    visibility: inherit;
    z-index: 1028;
}

.blur {
    -webkit-filter: blur(5px) grayscale(50%);
}