@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <ul>
        <li>@Html.ActionLink("Boarding Report", "BoardingReport")</li>
        <li>@Html.ActionLink("Completed and Deferred Projects Report", "Index")</li>
        <li>@Html.ActionLink("Software Transition Report", "Index")</li>
    </ul>
</div>
