@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>
<hr />

<div>
    <ul>
        <li>@Html.ActionLink("Boarding", "ViewReport", new { name = "BoardingReport" })</li>
        <li>@Html.ActionLink("Completed and Deferred Projects", "Index")</li>
        <li>@Html.ActionLink("Software Transition", "Index")</li>
    </ul>
</div>
