<div class="row">
    <div class="col-1 p-0">
        <div class="float-left">
            @Html.Partial(SharedView.SideMenuPartial)
        </div>
    </div>
</div>

<div>
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new
    {
        @class = "report-viewer",
        scrolling = "no"
    })
</div>

<div class="screen-overlay"></div>