@model ReportViewModel

@functions{
    private static readonly object reportViewerLock = new object();
}

<div class="row">
    <div class="col-1 p-0">
        <div class="float-left">
            @Html.Partial(SharedView.SideMenuPartial)
        </div>
    </div>
</div>

<div>
    
    <iframe id="reportID" class="report-viewer" src=@ViewBag.ReportUrl scrolling="no">
    </iframe>
    
    @*@lock (reportViewerLock)
    {
        @Html.ReportViewer(Model.GeneratedReport, new
        {
            @class = "report-viewer",
            scrolling = "no"
        })
    }*@
</div>

<div class="screen-overlay"></div>