<appTextContent>
  <add key="AdminSectionIntro" value="The admin section allows management of possible values for Employee, Reformat AQ2 and Software lists. New values can be added to the list and existing unused values can be deleted. When employee value is deleted, any project that is associated with that employee name will be affected. Which means that the associated project employee assignments will become invalid. The same functionality applies to deletion of reformat values. However, software list values can be deleted without affecting existing software assignment on projects." />
  <add key="LegalMessage" value=""/>
</appTextContent>