<appSettings>
  <add key="InstitutionValues" value="Bank of Nevada,Alliance Bank of Arizona,First Independent Bank,Torrey Pines Bank,Alta Alliance Bank"/>
  <add key="LockboxSystemValues" value="AQ2,ECP,None"/>
  <add key="LockboxStatusValues" value="Active,InActive,Closed,Onboarding,Unkown"/>
</appSettings>