<appSettings>
  <add key="InstitutionValues" value="Bank of Nevada,Alliance Bank of Arizona,First Independent Bank,Torrey Pines Bank,Alta Alliance Bank"/>
  <add key="LockboxSystemValues" value="AQ2,Other"/>
  <add key="LockboxStatusValues" value="No Lockbox,Active,InActive,Closed,Onboarding,Unkown"/>
  <add key="StatusValues" value="Not Started,In Progress,Completed,Deferred,Waiting on someone else,Audit Concern,Software Transition"/>
</appSettings>