<userAuthenticationSettings>
  <add key="AdminUserADGroupName" value="Administrators" />
  <add key="ReadWriteUserADGroupName" value="SG-App-AAB-CRM-RW" />
  <add key="ReadOnlyUserADGroupName" value="SG-App-AAB-CRM-RO" />
  <add key="CookieAuthExpireHours" value="12" />
</userAuthenticationSettings>
